<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	<!-- 定时任务管理 -->
	<bean id="TimingManage" class="com.agree.framework.web.action.administration.TimingSyncAction">
		<property name="cona">
			<ref bean="natpBean" />
		</property>
	</bean>
	<!-- 菜单管理 -->
	<bean id="ModuleActionBean" class="com.agree.framework.web.action.administration.SystemModuleAction">
		<property name="administrationService">
			<ref bean="AdministrationService"/>
		</property>
		<property name="initService">
			<ref bean="SysStartupService"/>
		</property>
	</bean>
	<!-- 角色管理 -->
	<bean id="RoleActionBean" class="com.agree.framework.web.action.administration.SystemRoleAction">
		<property name="administrationService">
			<ref bean="AdministrationService"/>
		</property>
	</bean>
	<!-- 用户管理 -->
	<bean id="UserActionBean" class="com.agree.framework.web.action.administration.SystemUserAction">
		<property name="administrationService">
			<ref bean="AdministrationService"/>
		</property>
	</bean>
	<!-- 密码修改 -->
	<bean id="UpdateUserPassActionBean" class="com.agree.framework.web.action.administration.UpdateUserPassAction">
		<property name="administrationService">
			<ref bean="AdministrationService"/>
		</property>
	</bean>
	<!-- 部门管理 -->
	<bean id="UnitActionBean" class="com.agree.framework.web.action.administration.SystemUnitAction">
		<property name="unitinfoService">
			<ref bean="UnitinfoService"/>
		</property>
		<property name="initService">
			<ref bean="SysStartupService"/>
		</property>
		<property name="cona">
			<ref bean="natpBean" />
		</property>
	</bean>
	
	<!-- 日志管理 -->
	<bean id="LogActionBean" class="com.agree.framework.web.action.administration.SystemLogAction">
		<property name="administrationService">
			<ref bean="AdministrationService"/>
		</property>
	</bean>
	<!-- 基础动作 -->
	<bean id="CommonActionBean" class="com.agree.framework.web.action.base.CommonAction">
	</bean>
	<!-- 登陆管理 -->
	<bean id="LogonActionBean" class="com.agree.framework.web.action.welcome.LogonAction">
		<property name="logonService">
			<ref bean="LogonService"/>
		</property>
		<property name="administrationService">
			<ref bean="AdministrationService"/>
		</property>
		<property name="initService">
			<ref bean="SysStartupService"/>
		</property>
		<property name="workHandlerService">
			<ref bean="workHandlerService"/>
		</property>
		<property name="cona">
			<ref bean="natpBean" />
		</property>
	</bean>
	
	<!-- 柜员令牌验证-->
	<bean id="tokenAction" class="com.agree.framework.web.action.welcome.TokenAction" scope="prototype">
		<property name="cona">
			<ref bean="natpBean" />
		</property>
	</bean>
	
	<!-- 退出管理 -->
	<bean id="ExitSystemActionBean" class="com.agree.framework.web.action.welcome.ExitSystemAction">
	</bean>
	<!-- 字典 -->
	<bean id="DictinfoActionBean" class="com.agree.framework.web.action.administration.DictinfoAction">
		<property name="dictinfoService">
			<ref bean="DictinfoService"/>
		</property>
		<property name="initService">
			<ref bean="SysStartupService"/>
		</property>
	</bean>
	<!-- 通知管理 -->
	<bean id="SysNoticeActionBean" class="com.agree.framework.web.action.administration.SysNoticeAction">
		<property name="sysNoticeService">
			<ref bean="SysNoticeService"/>
		</property>
	</bean>
	<!--F5心跳测试-->
	<bean id="f5CheckService" class="com.agree.framework.web.service.welcome.F5CheckServiceImpl">
		<property name="sqlDao_h">
			<ref bean="habernateDao" />
		</property>
	</bean>
	<bean id="F5CheckAction" class="com.agree.framework.web.action.welcome.F5CheckAction">
		<property name="f5CheckService">
			<ref bean="f5CheckService"/>
		</property>
	</bean>
</beans>